<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'random_word/index.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
    </head>
  <body>
    <div class="head"><h4>Random word (attempt#{{request.session.count}})</h4></div>
    <div class="unique"><p>{{request.session.unique_id}}</p></div>
    <div class="btn">
      <form action="/generate" method="post">
        {% csrf_token %}
        <input type="submit" value="Generate">
      </form>
    </div>
  </body>
</html>